<a href="https://colab.research.google.com/github/a-forty-two/dfe_jul_2022/blob/main/HelloML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/cylons/master/data.csv')
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [2]:
data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [3]:
our_columns = ['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean']
df = data.loc[:, our_columns]
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883

In [5]:
# have we identified y?
# have we identified x?
# Y -> diagnosis
# X -> thanks to correlation test, we choose
# NOT to use the ID column-> but everything
# else can be at least tested upon!

In [6]:
# get rid of ID without losing it
df = df.set_index('id')
df.head()
# ID won't participate in ML anymore
# ID has not been LOST either!

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,,
842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999
84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744
84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883

In [21]:
# Check for missing values
for col_name in df.columns:
  print(col_name, end=" ")
  print(df[col_name].isna().sum())

diagnosis 0
radius_mean 0
texture_mean 0
perimeter_mean 0
area_mean 0
smoothness_mean 0
compactness_mean 0
concavity_mean 0
concave points_mean 0
symmetry_mean 0
fractal_dimension_mean 0

In [ ]:
# diagnosis = weights * [df.columns] + bias
# weights, bias -> LEARNT by the machine

In [7]:
# BASIC CHECKS WITHOUT WHICH ML CANNOT HAPPEN
# 1) NO Missing Values
# 2) NO Non-Numerical Values!

In [8]:
# 1) there are all values present
# 2) we have M and B that needs to be
# numerical instead

In [ ]:
# LAMBDA is a 1 LINE FUNCTION
# Advantage of a function->
#     its a block of code executed together
# Disadvantage-> a MEMORY jump is required
#     Executor jumps from main block to 
#     function block, executes it, and then
#     jumps back to main block-> time!

# LAMBDA-> ability to perform a 1-line 
#     function LIKE operation for which NO
#     JUMP is required!
#     LAMBDA is a 1-line function that executes
#     MUCH faster than a normal function

In [9]:
# Syntax-> 
# <name> = lambda input: what_to_do_with_i/p
# example:
# mylambda = lambda x : x+1
# example:
# deg_to_K = lambda temp: temp + 273

In [10]:
outputs = { 'B': 0, 'M': 1}
transform_logic = lambda xyz: outputs[xyz]

In [11]:
# test
transform_logic('M')

1

In [12]:
# You can take a FUNCTION/LAMBDA and pass
#it as a MAPPING logic
# Mapping logic will be applied to EVERY 
# value in the target column
Y = df['diagnosis'].map(transform_logic)

In [16]:
Y[-15:]

id
924632    0
924934    0
924964    0
925236    0
925277    0
925291    0
925292    0
925311    0
925622    1
926125    1
926424    1
926682    1
926954    1
927241    1
92751     0
Name: diagnosis, dtype: int64

In [17]:
df['diagnosis'][-15:]

id
924632    B
924934    B
924964    B
925236    B
925277    B
925291    B
925292    B
925311    B
925622    M
926125    M
926424    M
926682    M
926954    M
927241    M
92751     B
Name: diagnosis, dtype: object

In [ ]:
# TRANSFORM-> on a single item
# APPLY that logic to EVERY VALUE

# M and B are non trainable
# TRANSFORMATION-> convert M to 1, and B->0
#

In [18]:
logic = lambda val: 1 if val=='M' else 0
Y = df['diagnosis'].map(logic)

In [19]:
Y[-15:]

id
924632    0
924934    0
924964    0
925236    0
925277    0
925291    0
925292    0
925311    0
925622    1
926125    1
926424    1
926682    1
926954    1
927241    1
92751     0
Name: diagnosis, dtype: int64

In [22]:
# Y has only numbers now!
# Only problem is X
df.columns

Index(['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean'],
      dtype='object')

In [23]:
# in iloc-> we are passing 1, because we
# want 0th column ('diagnosis') to be ignored
X = df.iloc[:, 1:]

In [24]:
X.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,
842302,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871
842517,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667
84300903,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999
84348301,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744
84358402,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883

In [25]:
# X is not normalized
# Optionally we can normalize the data also

In [26]:
# Z-score = (data-mean)/standard_dev
mu = df.describe().T['mean']
sigma = df.describe().T['std']
X_norm = (X-mu)/sigma

In [28]:
X_norm.head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean
id,,,,,,,,,,
842302,1.096100,-2.071512,1.268817,0.983510,1.567087,3.280628,2.650542,2.530249,2.215566,2.253764
842517,1.828212,-0.353322,1.684473,1.907030,-0.826235,-0.486643,-0.023825,0.547662,0.001391,-0.867889
84300903,1.578499,0.455786,1.565126,1.557513,0.941382,1.052000,1.362280,2.035440,0.938859,-0.397658
84348301,-0.768233,0.253509,-0.592166,-0.763792,3.280667,3.399917,1.914213,1.450431,2.864862,4.906602
84358402,1.748758,-1.150804,1.775011,1.824624,0.280125,0.538866,1.369806,1.427237,-0.009552,-0.561956

In [30]:
# OPTIONALLY-> we can choose to remove outliers
for col_name in X_norm.columns:
  #print(col_name, end=" ")
  samples = X_norm[col_name]
  outliers = samples[(samples<-3) | (samples > 3)]
  outlier_indexes = outliers.index
  # drop these indexes from both Y and X_norm
  X_norm.drop(outlier_indexes)
  Y.drop(outlier_indexes)
  #print(outlier_indexes)

In [31]:
# Y = mx + c
# diagnosis = weights * (columns) + bias
# Y = weights * X_norm + bias